[submodule "lib/sokol"]
	path = lib/sokol
	url = https://github.com/floooh/sokol.git
[submodule "tools/glslcc"]
	path = tools/glslcc
	url = https://github.com/septag/glslcc.git
[submodule "lib/cr"]
	path = lib/cr
	url = git@github.com:zacharycarter/cr.git
